debug: yes
hostname: "127.0.0.1:5000"
database:
    connection: "mysql://jiagouyun:jiagouyun_pass@127.0.0.1:3307/jiagouyun?charset=utf8"

security:
    # Random String for encrypt salt, don't change it after you initial dabatabase.
    secret_key: "RANDOM STRING"

# Logging location and level
logging:
    file: "/tmp/jiagouyun.log"
    level: "DEBUG"

redis:
    host: "127.0.0.1"
    port: 6379
    password:
    
aliyun_open_api:
  database:
    url: "aliyuncs.com"
    version: "2014-08-15"
    product: 'rds'
    protocol: 'http'
  server:
    url: "aliyuncs.com"
    version: "2014-05-26"
    product: 'ecs'
    protocol: 'http'
  loadbalancer:
    url: "aliyuncs.com"
    version: "2014-05-15"
    product: 'slb'
    protocol: 'http'
  sts:
    url: "aliyuncs.com"
    version: "2015-04-01"
    product: 'sts'
    protocol: 'https'
  ram:
    url: "aliyuncs.com"
    version: "2015-05-01"
    product: 'ram'
    protocol: 'https'
  cdn:
    url: "aliyuncs.com"
    version: "2014-11-11"
    product: 'cdn'
    protocol: 'http'
  objectstorage:
    url: "aliyuncs.com"
    version: ""
  vpc:
    url: "aliyuncs.com"
    version: "2016-04-28"
    product: 'vpc'
    protocol: 'http'
  drds:
    url: "aliyuncs.com"
    version: "2015-04-13"
    product: 'drds'
    protocol: 'https'
  domain:
     url: "aliyuncs.com"
     version: "2016-05-11"
     product: 'domain'
     protocol: 'https'

session:
    type: redis
    redis_db: 0
    prefix: "jiagouyun_session:"
    cookie_name: "jiagouyun_session"
    expire: 3600

third_party:
    token_redis_prefix: "jiagouyun_token"
    token_redis_db: 6
    login_redis_prefix: "jiagouyun_login"
    login_redis_db: 6
